<div class="login-page">
    <div class="content">
        <form class="login-form">
            <div class="text-center">
                <h2 class="app-name">App Based Pricing</h2>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="username">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="Password">
                    </mat-form-field>
                </div>
            </div>

            <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100" (click)="onLogin()">Login</button>
                </div>
            </div>

        </form>
    </div>
</div>
