<div class="login-page">
    <div class="content">
    <form class="login-form" (ngSubmit)="login()" #loginForm="ngForm">

        <div class="text-center">
          <h2 class="app-name">Please sign in</h2>
        </div>
        <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
          {{message}}
        </div>
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
          <div fxFlexFill>
            <label for="inputUsername" class="sr-only">Username</label>
          </div>
        </div>
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
          <div fxFlexFill>
            <input type="username" class="sr-only" [(ngModel)]="loginData.username" name="username" required/>
          </div>
        </div>
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
          <div fxFlexFill>
            <label for="inputPassword" class="sr-only">Password</label>
          </div>
       </div>
       <div fxFlex fxLayout="row" fxLayout.lt-md="column">
         <div fxFlexFill>
           <input type="password" class="sr-only" [(ngModel)]="loginData.password" name="password" required/>
         </div>
       </div>
       <div fxFlex fxLayout="row" fxLayout.lt-md="column">
         <div fxFlexFill>
           <button  class="buttons"   [disabled]="!loginForm.form.valid">Login</button>
         </div>
      </div>
      <p>
          Not a member? <a [routerLink]="['/signup']">Signup here</a>
      </p>
    </form>
  </div>
</div>
