<div class="login-page">
    <div class="content">
    <form class="login-form" (ngSubmit)="signup()" #signupForm="ngForm">

        <div class="text-center">
          <h2 class="app-name">Sign Up</h2>
        </div>
        <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
          {{message}}
        </div>
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
          <div fxFlexFill>
            <label for="inputUsername" class="sr-only">Username</label>
          </div>
        </div>
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
          <div fxFlexFill>
            <input type="username" class="sr-only" [(ngModel)]="signupData.username" name="username" required/>
          </div>
        </div>
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
          <div fxFlexFill>
            <label for="inputPassword" class="sr-only">Password</label>
          </div>
       </div>
       <div fxFlex fxLayout="row" fxLayout.lt-md="column">
         <div fxFlexFill>
           <input type="password" class="sr-only" [(ngModel)]="signupData.password" name="password" required/>
         </div>
       </div>
       <div fxFlex fxLayout="row" fxLayout.lt-md="column">
         <div fxFlexFill>
           <button  class="buttons"   type="submit" [disabled]="!signupForm.form.valid">Sign Up</button>
         </div>
      </div>
    </form>
  </div>
</div>
